databases:
  - name: rapidphoto-db
    databaseName: rapidphotoupload
    user: postgres
    plan: free
    region: oregon

services:
  # Spring Boot Backend
  - type: web
    name: rapidphoto-backend
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./apps/backend/Dockerfile
    dockerContext: ./apps/backend
    branch: master
    healthCheckPath: /actuator/health
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: rapidphoto-db
          property: connectionString
      - key: DATABASE_USERNAME
        fromDatabase:
          name: rapidphoto-db
          property: user
      - key: DATABASE_PASSWORD
        fromDatabase:
          name: rapidphoto-db
          property: password
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRATION
        value: 86400000
      - key: STORAGE_TYPE
        value: s3
      - key: S3_BUCKET_NAME
        value: rapid-photo
      - key: S3_ENDPOINT
        value: https://3b892790c75e56402e60c47ac996687c.r2.cloudflarestorage.com
      - key: AWS_REGION
        value: auto
      - key: AWS_ACCESS_KEY
        value: 6518f8f6e732252c733189c328f98bf0
      - key: AWS_SECRET_KEY
        value: 026de6015efb8c6e597b6601470eefb0b24eb126cae72d00dba098b297ed57e9
      - key: SERVER_PORT
        value: 8080
